<%= render partial: "shared/header" %>
<div class = "header-back"></div>
<div class = "main">
<div class = "main-wrapper">
  <div class = "post-area">
    <div class = "post-area-left">
    </div>
    <div class = "post-area-center">
      <h1>投稿詳細</h1>
      <div class = "post-area-center-content">
        <div class = "post-area-center-content-header">
        </div>
        <div class = "post-image">
          <%= image_tag @post.image.variant(resize: '240x256') if @post.image.attached? %>
        </div>
        <div class="post-contents-wrapper">
          <div class = "post-contents">
            <h1 class = "wine-name"><%= @post.wine_name %></h1>
            <p class = "vintage">
              <% if @post.vintage.present?%>
              <%= @post.vintage %>
              <%else%>
              Non Vintage
              <%end%>
            </p>
            <p class = "wine-genre">ジャンル : <%= @post.wine_genre[:name] %></p>
            <p class = "open-date">開栓 : <%= time_ago_in_words(@post.open_date)%>前</p>
            <p class = "post-content">説明文 :</br><%= @post.content%></p>
            <p class = "post-tags">
              <% @post.tags.each do |tag| %>
                #<%= tag.name %>
              <% end %>
            </p>
           <% if user_signed_in? %>
            <h1 class = "shop-name"><%= link_to @post.shop[:shop_name], users_shop_path(@post.shop_id) %></h1>
            <% end %>
            <% if @post.sold_out %>
              <p>SOLD OUT</p>
            <% else %>
              <p class = "wine-price">価格 : <%= @post.price%>円</p>
            <% end %>
            
          </div>
        </div>
        
      </div>
      <%= link_to "予約する", new_users_shop_reservation_request_path(@post.shop_id),  class: "reservation-button" %>
    </div>
    <div class = "post-area-right">
    </div>
  </div>
</div>
</div>
<%= render partial: "shared/footer" %>