<%= render partial: "shared/header" %>
<div class = "main">
    <div class = "main-wrapper">
      <%= month_calendar  events: @reservations do |date, reservations|%>
        <%= date.month %>/<%= date.day %>
        <% reservations.each do |reservation| %>
          <%= link_to "#{reservation.user[:last_name]} 様 #{reservation.start_time.hour}:#{reservation.start_time.min} ", shops_reservation_path(reservation.id) %>
        <% end %>
      <% end %>
      <%= render partial: "shared/footer" %>
    </div>
</div>