<%= render partial: "shared/header" %>
<div class = "main-wrapper">
  <div class = "user-information-area">
    <div class = "user-icon-show">
          <%= image_tag @user.image.variant(resize: '240x256') if @user.image.attached? %>
        </div>
    <div class = "user-data">
      <h3>ニックネーム</h3>
      <p><%= @user.nickname%></p>
      <br>
      <% if @user.id == current_user.id %>
      <h3>名前</h3>
      <p><%= @user.last_name %> <%= @user.first_name %></p>
      <br>
      <h3>メールアドレス</h3>
      <p><%= @user.email %></p>
      <br>
      <h3>電話番号</h3>
      <p><%= @user.phone_number %></p>
      <br>
      <h3>性別</h3>
      <p><%= @user.gender[:name]%></p>
      <br>
      <h3>生年月日</h3>
      <p><%= @user.birthday %></p>
      <% end %>
    </div>
  </div>
</div>
  <%= render partial: "shared/footer" %>