<div class ="head-wrapper">
  <div class = "head-left">
    <a href = "/", class = "logo">ロゴ</a>
  </div>
  <div class = "head-right">
  <% if user_signed_in? %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "log-out"%>
    <%= link_to "#{current_user.nickname}", user_path(current_user.id),class: "user-info"%>
  <% elsif shop_signed_in? %>
    <%= link_to "ログアウト", destroy_shop_session_path, method: :delete, class: "log-out"%>
    <%= link_to "#{current_shop.shop_name}", shops_shop_path(current_shop.id),class: "user-info"%>
  <% else %>
    <%= link_to "ユーザーとしてログイン", new_user_session_path, class: "log-out"%>
    <%= link_to "ショップとしてログイン", new_shop_session_path, class: "log-out"%>
  <% end %>
  </div>
</div>