<div class = "form-wrapper">
    <%= form_with model: [:shops, post_tag], local: true do |f| %>
      <div class = "field">
        <%= f.label :image, '画像' %><br>
        <%= f.file_field :image %>
      </div>
      <div class = "field">
      <%= f.label :wine_name, 'ワイン名' %><br>
      <%= f.text_field :wine_name , placeholder: "Opus One", style:"display:flex;"%>
      </div>
      <div class = "field">
      <%= f.label :vintage, 'ヴィンテージ' %><br>
      <p><%= f.text_field :vintage, placeholder: "2000" %>年</p>
      </div>
      <div class = "field">
      <%= f.label :open_date, '開栓日' %><br>
      <%= f.date_field :open_date %>
      </div>
      <div class = "field">
      <%= f.label :price, '価格' %><br>
      <p><%= f.text_field :price, placeholder: "10000" %>円</p>
      </div>
      <div class = "field">
        <%= f.label :wine_genre, 'お酒の種類' %><br>
        <%= f.collection_select(:wine_genre_id, WineGenre.all, :id, :name) %>
      </div>
      <div class = "field">
        <%= f.label :content, "詳細" %><br>
        <%= f.text_area :content, placeholder: "おすすめポイント、ワインの説明" %>
      </div>
      <div class="field", id='tag-field'>
        <%= f.label :name, "タグ" %>
        <%= f.text_field :name, class:"input-tag" , size: "60" ,placeholder:"「,」で区切ると複数登録できます。ex)赤ワイン,カリフォルニア"%>
      </div>
      <div class="field">
        <%= f.label :sold_out, "販売状況" %><br>
        <%= f.radio_button :sold_out, false %>販売中<%= f.radio_button :sold_out, true %>売り切れ
      </div>
      <div class = "field">
        <%= f.submit "送信"%>
      </div>
    <% end %>
  </div>