<div class = "posts-area">
  <div class = "inner-post-area hidden1" id = "A">
  <% posts_open_date.each do |post|%>
      <div class = "post">
        <a href = "/users/posts/<%= post.id%>"></a>
        <div class = "post-image">
        <% if post.image.attached? %>
          <%= image_tag post.image.variant(resize: '240x256') %>
        <%else%>
          <%= image_tag('no_image.jpeg',size: '240x256')%>
        <% end %>
        </div>
        <div class = "post-contents">
          <h3 class = "wine-name"><%= post.wine_name %></h3>
          <p class = "open-date">開栓:<%= time_ago_in_words(post.open_date)%>前</p>
          <% unless shop_signed_in? %>
          <p class = "shop-name"><%= post.shop[:shop_name] %></p>
          <% end %>
          <div class = "sold-out">
          <%if post.sold_out%>
          <p>SOLD OUT</p>
          <% end %>
          </div>
        </div>
      </div>
  <% end %>
  </div>

  <div class = "inner-post-area hidden2" id = "B">
  <% posts.sample(12).each do |post|%>
      <div class = "post">
        <a href = "/users/posts/<%= post.id%>"></a>
        <div class = "post-image">
        <% if post.image.attached? %>
          <%= image_tag post.image.variant(resize: '240x256') %>
        <%else%>
          <%= image_tag('no_image.jpeg',size: '240x256')%>
        <% end %>
        </div>
        <div class = "post-contents">
          <h3 class = "wine-name"><%= post.wine_name %></h3>
          <p class = "open-date">開栓:<%= time_ago_in_words(post.open_date)%>前</p>
          <% unless shop_signed_in? %>
          <p class = "shop-name"><%= post.shop[:shop_name] %></p>
          <% end %>
         <div class = "sold-out">
          <%if post.sold_out%>
          <p>SOLD OUT</p>
          <% end %>
          </div>
        </div>
      </div>
  <% end %>
  </div>
</div>