<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "shops/shared/error_messages", resource: resource %>

  <div class = "field">
    <%= f.label :image, '画像' %>
    <%= f.file_field :image %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :"店舗名" %><br />
    <%= f.text_field :shop_name, autofocus: true, autocomplete: "on" %>
  </div>

  <div class="field">
    <%= f.label :"管理者" %><br />
    <%= f.text_field :administrator, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :"郵便番号" %><br />
    <%= f.text_field :postal, autofocus: true, autocomplete: "on" %>
  </div>

  <div class="field">
    <%= f.label :"都道府県" %><br />
    <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :"住所" %><br />
    <%= f.text_field :address, autofocus: true, autocomplete: "on" %>
  </div>

  <div class="field">
    <%= f.label :"建物名（任意）" %><br />
    <%= f.text_field :building, autofocus: true, autocomplete: "on" %>
  </div>

  <div class="field">
    <%= f.label :"最寄り駅" %><br />
    <%= f.text_field :nearest_station, autofocus: true, autocomplete: "on" %>
  </div>

  <div class="field">
    <%= f.label :"ジャンル" %><br />
    <%= f.collection_select :genre_id, Genre.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :"電話番号" %><br />
    <%= f.telephone_field :phone_number , maxlength: "13"%>
  </div>


  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "shops/shared/links" %>
