<%= render partial: "shared/header" %>
<div class = "main">
  <div class = "login-main-wrapper">
    <div class = "login-form">
      <h1>ショップ新規登録</h1>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "shops/shared/error_messages", resource: resource %>
          
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "winebar@gmail.com"%>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上で入力してください)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password",placeholder: "winebar123" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "winebar123" %>
          </div>

          <div class="field">
            <%= f.label :"店舗名" %><br />
            <%= f.text_field :shop_name, autofocus: true, autocomplete: "on",placeholder: "渋谷ワイン" %>
          </div>

          <div class="field">
            <%= f.label :"管理者" %><br />
            <%= f.text_field :administrator, autofocus: true, autocomplete: "name",placeholder: "田中太郎" %>
          </div>

          <div class="field">
            <%= f.label :"郵便番号" %><br />
            <%= f.text_field :postal, autofocus: true, autocomplete: "on",placeholder: "150-0002" %>
          </div>

          <div class="field">
            <%= f.label :"都道府県" %><br />
            <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "選択してください", selected:"選択してください"}%>
          </div>

          <div class="field">
            <%= f.label :"住所" %><br />
            <%= f.text_field :address, autofocus: true, autocomplete: "on",placeholder: "渋谷区渋谷２丁目２４−１２" %>
          </div>

          <div class="field">
            <%= f.label :"建物名（任意）" %><br />
            <%= f.text_field :building, autofocus: true, autocomplete: "on",placeholder: "スクランブルスクエア" %>
          </div>

          <div class="field">
            <%= f.label :"最寄り駅" %><br />
            <%= f.text_field :nearest_station, autofocus: true, autocomplete: "on", placeholder: "渋谷駅" %>
          </div>

          <div class="field">
            <%= f.label :"ジャンル" %><br />
            <%= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: "選択してください", selected:"選択してください"} %>
          </div>

          <div class="field">
            <%= f.label :"電話番号" %><br />
            <%= f.telephone_field :phone_number , maxlength: "13", placeholder:"03-0909-0909"%>
          </div>


          <div class = "field">
            <%= f.label :image, 'プロフィール画像' %>
            <%= f.file_field :image %>
          </div>

          <div class="actions">
            <%= f.submit "登録する" %>
          </div>
        <% end %>
    </div>
  </div>
  <div class="sign-up-footer">
  </div>
</div>