<script>
function abcd(value) {
  let selectBoxA = document.getElementById("A")
  let selectBoxB = document.getElementById("B")
    if(value === "A"){
      selectBoxA.setAttribute("style", "display:flex;")
      selectBoxB.setAttribute("style", "display:none;")
      // console.log("A")
    }
    else if(value === "B"){
      selectBoxA.setAttribute("style", "display:none;")
      selectBoxB.setAttribute("style", "display:flex;")
      // console.log("B")
    }
  }
</script>

<%= render partial: "shared/header" %>
<div class = "post-search-form">
    <form action="cgi-bin/formmail.cgi" method="post">
      投稿を検索する
      <p>
      タグ：<input type="text" name="name" size="40">
      </p>
      <p>
      <input type="submit" value="送信"><input type="reset" value="リセット">
      </p>
    </form>
  </div>
<div class = "main">
  <div class = "main-content">
    <div class = "main-wrapper">
      <div class = "post-wrapper">

        <div class = "post-header">
          <select name = "myselectbox" id="myselectbox" onchange = "abcd(this.value)" >
            <option value="A">今日のおすすめ順</option>
            <option value="B">開けたて順</option>
          </select>
        </div>

        

        <div class = "posts-area">
          <div class = "inner-post-area hidden1" id = "A">
          <% @posts.sample(6).each do |post|%>
              <div class = "post">
                <a href = "/shops/posts/<%= post.id%>"></a>
                <div class = "post-image"></div>
                <div class = "post-contents">
                  <p class = "wine-name"><%= post.wine_name %></p>
                  <p class = "wine-genre">ジャンル : <%= post.wine_genre[:name] %></p>
                  <p class = "open-date">開栓 : <%= time_ago_in_words(post.open_date)%>前</p>
                  <% unless shop_signed_in? %>
                  <p class = "shop-name"><%= post.shop[:shop_name] %></p>
                  <% end %>
                </div>
              </div>
          <% end %>
          </div>

          <div class = "inner-post-area hidden2" id = "B">
          <% @posts.order('open_date DESC').each do |post|%>
              <div class = "post">
                <a href = "/shops/posts/<%= post.id%>"></a>
                <div class = "post-image"></div>
                <div class = "post-contents">
                  <p class = "wine-name"><%= post.wine_name %></p>
                  <p class = "wine-genre">ジャンル : <%= post.wine_genre[:name] %></p>
                  <p class = "open-date">開栓 : <%= time_ago_in_words(post.open_date)%>前</p>
                  <% unless shop_signed_in? %>
                  <p class = "shop-name"><%= post.shop[:shop_name] %></p>
                  <% end %>
                </div>
              </div>
          <% end %>
          
          </div>
        </div>
      </div>
      <%= render partial: "shared/footer" %>
    </div>
  </div>
</div>

